restapi/src/main/app/unitedflightsairlines.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:context="http://www.springframework.org/schema/context" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    
    <flow name="unitedflightsairlinesFlow">
        <http:listener config-ref="restapi-httpListenerConfig" path="/unitedFlightsAirlines" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="Request Received" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="${airlines.path}" method="GET" doc:name="HTTP"/>
        <logger message="Response from unitedFlightsAirlines #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="payload !=null">
                <set-payload value="{
&quot;message&quot; : &quot;No flights available for the given destination&quot;
}" mimeType="application/json" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <exception-strategy ref="ApplicationExceptionStrategy" doc:name="Reference Exception Strategy"/>
        
    </flow>
</mule>
